.agp {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
}

.stats-container {
    display: flex;
    flex: 2;
    padding: 5px 0px;
}

.stats {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    border: 2px solid grey;
    align-items: center;
    padding: 25px 10px;
}


.stats .role h3 {
    font-size: 14px;
    font-weight: 400px;
}

.stats .role p {
    color: rgb(202, 202, 202);
}
.phaser-game-container {
    display: flex;
    flex: 6;
}
.react-native-game-container {
    display: flex;
    flex: 6;
    width: 100%; 
    height: calc(100vh * 0.80);
    overflow: visible; 
    justify-content: center; 
    align-items: center; 
    
}





.agp h2 {
    color: white
}

iframe {
    border: none;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(20, 20, 20);
    border: 2px solid grey;
    margin: 5px;


}

.react-native {
    transform: scale(75%);
    height: 1000px;
    width: 100%;
  
}

.phaser {

}


@media (max-width: 767px) {
    .agp {
        flex-direction: column;
    }

    .stats-container {
  
    }

    .stats {
        width: 90%;
    }

    .phaser-game-container {
        display: block;
        flex: 1;
    
    }

    .react-native-game-container {
        display: flex;
        flex: 3;
        align-items: flex-start; 
        width: 550px;
    }

    .react-native {
        transform: scale(.65);
        transform-origin: 0 0;
    }

    iframe {
        min-height: 350px;
        width: 99%;
        margin: 0; 
     
    }

}