.arcade-game-page {
    display: flex;
    flex: 1;
    background-color: black;
    overflow: hidden;
}

.agp {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 100px 0px;
}

.stats-container {
    display: flex;
    flex: 2;
}

.stats {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    border-radius: 20px;
    align-items: flex-start;
    padding: 25px 10px;
    align-items: center;
}



.phaser-game-container {
    display: flex;


}

.react-native-game-container {
    display: flex;
    width: 100%;
    height: calc(100vh * 0.80);
    overflow: visible;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.empty-container {
    flex: 2;
}



.agp h2 {
    color: white;
}

iframe {
    border: none;
    width: 100%;
    min-height: 90vh;
    padding: 20px 0px;
}

.react-native {
    transform: scale(75%);
    height: 1000px;
    width: 100%;
}



@media (max-width: 767px) {
    .agp {
        flex-direction: column;
        padding: 0px 0px;
        padding-top: 100px;

    }

    .stats-container {
        width: 95vw;
        margin-bottom: 100px;
    }

    .stats {
        width: 90%;
        align-items: center;
        margin: 15px 0px;
    }

    .phaser-game-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .react-native-game-container {
        align-items: flex-start;
        min-width: 650px;
        overflow: hidden;
    }

    .react-native {
        transform: scale(.65);
        transform-origin: 0 0;
        overflow: hidden;
    }

    iframe {
        min-height: 350px;
        width: 100vw;
        overflow: visible;
        height: initial;
    }

    .empty-container {
        flex: 0;
    }

}