.arcade-page-container {
    display: flex;
    flex: 1;
    padding-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
}


.arcade-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.arcade-gallery-container {
    flex: 1;
    flex-direction: row;
    border-top: 1px solid grey;
    padding-top: 50px;
}

.arcade-item-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.arcade-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    align-items: center;
}



.arcade-item img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    transition: transform 0.15s ease-in-out;
}


.arcade-item img:hover {
 
    transform: scale(1.025);
    transform-origin: center center;
    cursor: pointer;
}

h2 {
    margin: 0px;
    color: white;
    font-size: 18px;
}

h3 {
    margin: 0px;
    color: white;
    font-size: 18px;
}

p {
    margin: 0px;
    color: white;
    font-size: 14px;
}

.arcade-item-container a {
    text-decoration: none;
    color: white;
}

.arcade-item-container a:hover {
    text-decoration: none;
}

@media (max-width: 767px) {

    .arcade-page-container {
        padding-top: 25px;
    }
    

    .arcade-item-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}