.game-detail {
    display: flex;
    flex: 1;
    background-image: linear-gradient(to bottom right, #ffe54c, #ffe966);
}

.gdp {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 100px;
}

.gdp .images-container {
    flex: 1;
    min-height: 700px;
    max-width: 600px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 10px;
    margin-right: 10px;

    
    border: 2px solid black;
    box-shadow: -20px 20px 30px -20px black;

}

.gdp .banner img {
    width: 100%;
    height: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}



.gdp .placeholder-banner {
    max-height: 500px;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    background-color: black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.gdp .placeholder-banner h3 {
   color: white;
}

.gdp .icon {
    display: flex;

}

.gdp .icon img {
    position: relative;
    top: -80px;
    left: 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 700px;
    max-width: 600px;
    border-radius: 20px;
    background-color: white;
    /* border: 2px solid grey; */
    margin-bottom: 10px;
    margin-left: 10px;

    border: 2px solid black;
    box-shadow: -20px 20px 30px -20px black;
    
}



.images-container .description {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -70px;
    align-items: flex-start;

}


.gdp .images-container .description h2 {
    font-size: 26px;
    color: black;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.gdp .images-container .description h3 {
    font-size: 14px;
    color: rgb(77, 77, 77);
    font-weight: 700;
    margin-top: 0px;
}

.gdp .images-container .description p {
    font-size: 14px;
    color: rgb(77, 77, 77);
    font-weight: 400;
    margin-top: 0px;

}

.gdp .images-container .description a {
    font-size: 14px;
    color: rgb(77, 77, 77);
    font-weight: normal;
    margin-top: 20px;
}


.info-container .roles {
    flex: 3;
    padding: 5%;
}

.info-container .role {
  padding-bottom: 10px;
  margin-bottom: 10px;
  line-height: 30px;

}

.info-container .role h3 {
    font-size: 14px;
    font-weight: 400px;
    line-height: 10px;
 
}

.info-container .roles h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 20px;

 
}

.info-container .role p {
    color: rgb(77, 77, 77);
}





.info-container .technology {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5%;

}

.info-container .technology .header {
    flex: 1;
    padding: 5%;
}

.info-container .tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.info-container .tech {
    text-align: center;
    border-radius: 5px;
    background-color: #4cc0ff;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 14px;
}

.info-container .technology h2 {
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 25px;
    padding: 0;
    line-height: 20px;
}

.technology div {
    color: white;
}



@media (max-width: 767px) {
    .gdp {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 125px;
      
    }

    .gdp .images-container {
        width: 100%;
        margin-right: 0;
        max-width: 500px;
    }

    .gdp .info-container {
       width: 100%;
       margin-left: 0;
       max-width: 500px;

    }

    .gdp .placeholder-banner {
        height: 250px;
    }

}