.portfolio-page-container {
    width: 100%;
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
}


.portfolio-container {
    display: flex;
    flex-direction: column;

}

.portfolio-gallery-container {
    flex: 1;
    flex-direction: row;

    border-top: 1px solid grey;
    padding-top: 50px;
}

.item-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    align-items: center;
}



.item img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    transition: transform 0.15s ease-in-out;
}


.item img:hover {
    overflow: hidden;
    transform: scale(1.025);
    transform-origin: center center;
    cursor: pointer;
}

h2 {
    margin: 0px;
    color: white;
    font-size: 18px;
}

h3 {
    margin: 0px;
    color: white;
    font-size: 18px;
}

p {
    margin: 0px;
    color: white;
    font-size: 14px;
}

.item-container a {
    text-decoration: none;
    color: white;
}

.item-container a:hover {
    text-decoration: none;
}

@media (max-width: 767px) {


    .item-container {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}